
@media (max-width: 768px) {
  .all-rights{
    margin-bottom: 24px;
  }
    .container-banner {
        ion-card-content {
          .cb-header {
            font-size: $font-size-head-md !important;
          }         

        }
      }
    .calendar-strip {
        .weekdays {
         // gap: 4px;
          
          .day-item {
            min-width: 35px !important;
            padding: 4px !important;
          }
        }
      }
      .comp-space{
        margin: 8px 0 !important;
      }
      .hc-spacing{
        .hc-cp{
          margin-bottom: 8px;
        }
      }
      .sidebar{
        // position: absolute !important;
        // display: block !important;
        // .sidebar-header{
        //   display: none !important;
        // }
      }
      .slider-content {
      
        margin-left: 0 !important; 
      }
      .sidebar-toggle:checked + .sidebar-toggle-label + .sidebar {
        position: absolute;
       // transform: translateX(-258px);
        display: block;
        z-index: 10000;
        .sidebar-header{
          display: none;
        }
      }
      .gmap-container{
        min-height: 1000px;

      }
      .search-toolbar {
        width: 80% !important;
      }
      .cards-container{
        flex-direction: column !important;
      }
      .cc-cont-contaner{
        width: 100% !important;
        height: auto !important;
      }
      .container-banner {
      .card-content-md{
        padding: 8px 8px !important;
      }
    }
      .common-container{
        padding: 16px 8px !important;
      }
      .form-container {
        padding: 16px 16px !important;
    }
  }