
@media (max-width: 768px) {
  .all-rights{
    margin-bottom: 24px;
  }
    .container-banner {
        ion-card-content {
          .cb-header {
            font-size: $font-size-head-md !important;
          }         

        }
      }
    .calendar-strip {
        .weekdays {
         // gap: 4px;
          
          .day-item {
            min-width: 35px !important;
            padding: 4px !important;
          }
        }
      }
      .comp-space{
        margin: 8px 0 !important;
      }
      .hc-spacing{
        .hc-cp{
          margin-bottom: 8px;
        }
      }
  }