.risk-assessment-app{
  
}
.risk-login-banner{
background: $risk-login-background ;
height: 100%;
background-image: url(../../assets/riskAssesment1.svg);
background-position: bottom center;
background-repeat: no-repeat;
background-size: 50%;
//min-height: 530px;
padding: 0;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.ra-container{
  padding: 16px 0;
}
.ra-grid{
height: calc(100% - 40px);
}
.risk-assessment-container{
  padding: 0 !important;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  h1{
    color: $color-primary;
    font-size: $font-size-risk-xlll;
    margin: 0;
    margin-bottom: 35px;
  }
  h3{
    color: $color-dark-Gray;
    font-size: $font-size-xlll;
    margin: 0;
    margin-bottom: 12px;
  }
  .ra-banner{
    padding: 0;
  //  padding-right: 20px;
  }
  .ra-form-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
      color: $color-deep-Gray;
      .rafc-container{   
    padding: 8px;
    height: 100%;
      }
      ion-item{
        margin-bottom: 8px;
      }
      ion-text, ion-label{
       color: $color-deep-Gray;
      }
     h1 {
    color: $color-primary;
    font-size: $font-size-xlll;
    margin: 0;  
  }
  ion-radio-group{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
 ion-radio{
  color: $color-deep-Gray;
  gap: 24px;
   &::part(label){
    margin-inline-start: 8px;
   }
}
  }
 ion-select{
    --background: var(--color-white);
    margin-bottom: 8px;
 }
 .assessment-description{

  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
  border: 0;
    .asses-desc-border{
  border-left: 4px solid $color-primary;
    padding: 0 20px;
    }
  h2{
    font-size: $font-size-base;
    color: $color-deep-Gray;
    margin: 0;
    margin-bottom: 8px;
    font-weight: $font-bold  ;
  }
  ion-text{ 
    font-size: $font-size-md;
    color: $color-deep-Gray;

  }
 }
 .assessment-button{
  display: flex;
  align-items: end ;
  justify-content: end;
  padding-bottom: 0;
  padding-top: 0;
 }
  }
  .ra-login-buttons{
display: flex;
justify-content: end;
    align-items: center;
    ion-button{
      margin-left: 24px;
    }
  }
}
.user-info{
  justify-content: end;
    display: flex;
  ion-text{
    font-size: $font-size-md;
    color: $color-deep-Gray;
  }
}
