<ion-card class="unhealthy-card">
  <div class="text-content">
    <h3>Unhealthy Relationship</h3>
    <p>
      Unhealthy relationships feature an unequal distribution of responsibilities. 
      A power imbalance is created when one partner consistently bears the brunt 
      of responsibilities while the other remains indifferent and entitled. 
      Over time, this imbalance erodes trust and communication, leading to 
      persistent conflict and turning the relationship into a source of stress.
    </p>
    <ion-button fill="clear">Read More</ion-button>
  </div>
</ion-card>
