<ion-card class="quiz-container">
  <ion-card-content>
    <ion-row>
      <ion-col size="12" size-sm="12" size-lg="10" style="margin-bottom: 16px;">
        <strong>Thank you for completing the assessment.</strong>
      </ion-col>
      <ion-col size="12" size-sm="12" size-lg="2" class="risk-item-center">
        <ion-text>Here is your QR code:</ion-text>
        <div class="qr-section">
          <qrcode
            #qrCodeElement
            [qrdata]="qrcodeUrl"
            [width]="100"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
        <ion-text>{{ myAngularxQrCode }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="highSeverityTriggered" style="color: red;" class="warning">
          <strong class="warning">Take action immediately. Talk to your service providers for assistance.</strong>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="table-main-container">
          <table>
            <thead>
              <tr>
                <th>S No.</th>
                <th>Question</th>
                <th class="thr-width-auto">Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let q of sripa; let i = index" class="question-summary">
                <td>{{ i + 1 }}</td>
                <td>{{ q.text }}</td>
                <td class="thr-width-auto">
                  {{ selectedOptions[i] | uppercase }}
                </td>
              </tr>
            </tbody>
          </table>  
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
