<ion-card class="common-container quiz-container">
  <ion-card-header>
    <ion-card-title>{{ quizTitle }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <div class="thank-you">Thank you for completing the assessment.</div>
      </ion-col>
      <ion-col>      
        <div class="qr-section ta-center">
          <qrcode #qrCodeElement [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <ion-text>{{myAngularxQrCode}}</ion-text>
      </ion-col>
    </ion-row>


    <div >
      <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Yes</th>
             <th>No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let q of sripa; let i = index" class="question-summary">
            <td>{{ q.text }}
            </td>
            <td> <ion-radio-group [value]="selectedOptions[i]" >
            <ion-radio disabled value="yes"></ion-radio><br />
          </ion-radio-group></td>
           <td> <ion-radio-group [value]="selectedOptions[i]" >
            <ion-radio disabled value="no"></ion-radio>
          </ion-radio-group></td>
          </tr>
        </tbody>
      </table>

      <hr />
    </div>

    <div *ngIf="highSeverityTriggered" class="warning">
      <strong>Take action immediately; talk to your service providers for assistance.</strong>
    </div>
  </ion-card-content>
</ion-card>
