<ion-card class="card">
  <h2 class="card-title">
    There are ways in which you can strengthen individual and interpersonal powers toward peace
  </h2>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" class="section">
        <h3 class="section-title">Personal</h3>
        <div class="tags">
          <ion-chip class="tag">Courage</ion-chip>
          <ion-chip class="tag">Smiling</ion-chip>
          <ion-chip class="tag">Appreciation</ion-chip>
          <ion-chip class="tag">Caring</ion-chip>
          <ion-chip class="tag">Believing</ion-chip>
          <ion-chip class="tag">Simplicity</ion-chip>
          <ion-chip class="tag">Education</ion-chip>
          <ion-chip class="tag">Healing</ion-chip>
          <ion-chip class="tag">Dreaming</ion-chip>
          <ion-chip class="tag">Faith</ion-chip>
          <ion-chip class="tag">Contemplation</ion-chip>
          <ion-chip class="tag">Groundedness</ion-chip>
          <ion-chip class="tag">Creativity</ion-chip>
          <ion-chip class="tag">Humility</ion-chip>
          <ion-chip class="tag">Reverence</ion-chip>
          <ion-chip class="tag">Gratitude</ion-chip>
          <ion-chip class="tag">Integrity</ion-chip>
          <ion-chip class="tag">Freedom</ion-chip>
          <ion-chip class="tag">Acceptance</ion-chip>
          <ion-chip class="tag">Self-forgiveness</ion-chip>
          <ion-chip class="tag">Inspiration Date</ion-chip>
          <ion-chip class="tag">Mission</ion-chip>
          <ion-chip class="tag">Prayer</ion-chip>
        </div>
      </ion-col>
      <ion-col size-md="6" class="section">
        <h3 class="section-title">Interpersonal</h3>
        <div class="tags">
          <ion-chip class="tag">Harmony</ion-chip>
          <ion-chip class="tag">Friendliness</ion-chip>
          <ion-chip class="tag">Respect</ion-chip>
          <ion-chip class="tag">Generosity</ion-chip>
          <ion-chip class="tag">Listening</ion-chip>
          <ion-chip class="tag">Forgiveness</ion-chip>
          <ion-chip class="tag">Amends</ion-chip>
          <ion-chip class="tag">Praising</ion-chip>
          <ion-chip class="tag">Patience</ion-chip>
          <ion-chip class="tag">Acknowledgment</ion-chip>
          <ion-chip class="tag">Love</ion-chip>
          <ion-chip class="tag">Understanding</ion-chip>
          <ion-chip class="tag">Mindfulness</ion-chip>
          <ion-chip class="tag">Graciousness</ion-chip>
          <ion-chip class="tag">Kindness</ion-chip>
          <ion-chip class="tag">Dialogue</ion-chip>
          <ion-chip class="tag">Unity</ion-chip>
          <ion-chip class="tag">Openness</ion-chip>
          <ion-chip class="tag">Accountability</ion-chip>
          <ion-chip class="tag">Uniqueness</ion-chip>
          <ion-chip class="tag">Cooperation</ion-chip>
          <ion-chip class="tag">Mastery</ion-chip>
          <ion-chip class="tag">Compassion</ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>