<ion-card class="legal-container p-0">
  <ion-card-content>
    <ng-container *ngFor="let item of content">
      
      <!-- Render Heading -->
     
      <h3 *ngIf="item.type === 'heading' && item.children[0]?.text.trim()" 
          [ngClass]="{ 'bold': item.children[0]?.bold }">
        {{ item.children[0]?.text }}
      </h3>
  

      <!-- Render Paragraph if it has text -->
      <ion-text *ngIf="item.type === 'paragraph' && item.children[0]?.text.trim()">
        {{ item.children[0]?.text }}
      </ion-text>

      <!-- Render Spacer for empty paragraphs -->
      <div *ngIf="item.type === 'paragraph' && !item.children[0]?.text.trim()" style="height: 1rem;"></div>

    </ng-container>

    <!-- Read More Button -->
    <ion-button *ngIf="isBtnVisible" [routerLink]="['/nopeaceathome']" fill="clear" size="small" class="rmc-button">Read More  <ion-img src="../../../assets/downArrow.svg" alt="Contact Us"></ion-img></ion-button>
  </ion-card-content>
</ion-card>
