<ion-card class="common-container quiz-container" style="min-height: 500px;">
  <ion-card-header>
    <ion-card-title>{{ quizTitle }}</ion-card-title>
    <ion-text>{{ quizSubheading }}</ion-text>
  </ion-card-header>

  <ion-card-content>
    <div class="quiz-slide" *ngFor="let q of sripa; let i = index" [hidden]="i !== currentIndex">
      <div class="qs-row question-row">
        <div class="qs-col"><strong>Q:</strong> {{ q.question }}</div>
        <div class="qs-col qsc-1">
          <label>
            <input
              type="radio"
              [name]="'yesNoChoice' + i"
              [(ngModel)]="selectedOptions[i]"
              [value]="'yes'"
            />
            Yes
          </label>
      
        </div>
        <div class="qs-col qsc-1">
        
        
          <label>
            <input
              type="radio"
              [name]="'yesNoChoice' + i"
              [(ngModel)]="selectedOptions[i]"
              [value]="'no'"
            />
            No
          </label>
        </div>
      </div>

      <div class="qs-row answer-row" *ngIf="selectedOptions[i] === 'yes'">
        <div class="qs-col">
          <div style="float: left;"><strong>A:</strong></div>
          <div [innerHTML]="renderRichText(q.responseyes)"></div>
        </div>     
       
      </div>
      <div class="qz-arrows">
        <ion-icon 
        name="chevron-back-outline"
          class="nav-arrow prev" 
          (click)="prevSlide()" [class.disabled]="currentIndex === 0">
        </ion-icon>
        <ion-icon 
        name="chevron-forward-outline"
          class="nav-arrow next" 
          (click)="nextSlide()" [class.disabled]="currentIndex === sripa.length - 1">
        </ion-icon>
      </div>

      <div class="pagination">
        <span *ngFor="let q of sripa; let idx = index"
              class="dot"
              [class.active]="currentIndex === idx"
              (click)="goToSlide(idx)"></span>
      </div>
    </div>

    <hr />
    <div class="qs-row answer-row">
      <div class="qs-col"><strong>Rating:</strong> {{ rating }}</div>
      
    </div>

    <!-- <div class="yesanswer-content">
      <div [innerHTML]="renderRichText(yesanswer)"></div>
    </div>

    <hr /> -->

  </ion-card-content>
</ion-card>
