<ion-card class="common-container quiz-container" style="min-height: 500px; padding-left: 16px;
    padding-right: 16px;">
  <ion-card-header>
    <ion-card-title>{{ quizTitle }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ng-container *ngIf="currentIndex < sripa.length && !finalAnswerVisible">
      <div class="quiz-slide" *ngFor="let q of sripa; let i = index" [hidden]="i !== currentIndex">
        <div class="qs-row qs-header">
          <div class="qs-col">
            <strong>Question:</strong>
          </div>
        </div>
    
        <div class="qs-row question-row">
          <div class="qs-col">
            <div><strong>{{ q.text }}</strong></div>
            <div class="question-severity">Rating: {{ q.severity }}</div>
          </div>
        </div>
        <div class="qs-row qz-button-row">
          <div class="qs-col ta-center">
            <ion-radio-group class="qz-btn-radio">
              <ion-radio value="healthy"     (click)="selectOption(i, 'yes')"
              [class.selected]="selectedOptions[i] === 'yes'">Yes</ion-radio><br />
              <ion-radio value="unhealthy"   (click)="selectOption(i, 'no')"
              [class.selected]="selectedOptions[i] === 'no'">No</ion-radio><br />                
            </ion-radio-group>

          </div>
        </div>
    
        <div class="qs-row answer-row" *ngIf="selectedOptions[i] === 'yes'">
          <div class="qs-col">
            <div [innerHTML]="renderRichText(q.actions[0]?.description)"></div>
          </div>
        </div>
    
        <div class="pagination">
          <ion-icon 
            name="chevron-back-outline"
            class="nav-arrow prev" 
            (click)="prevSlide()" 
            [class.disabled]="currentIndex === 0">
          </ion-icon>
          
          <span *ngFor="let q of sripa; let idx = index"
            class="dot"
            [class.active]="currentIndex === idx"
            (click)="goToSlide(idx)">
          </span>
          
          <ion-icon 
            name="chevron-forward-outline"
            class="nav-arrow next" 
            (click)="nextSlide()" 
            [class.disabled]="currentIndex === sripa.length - 1">
          </ion-icon>
        </div>
      </div>
    </ng-container>
    <!-- <div class="yesanswer-content" *ngIf="currentIndex === sripa.length">
      <div [innerHTML]="renderRichText(yesanswer)"></div>
    </div> -->
    <div *ngIf="finalAnswerVisible" class="yesanswer-content">
      <h3>Final Answer</h3>
      <div [innerHTML]="finalAnswerHtml"></div>
    </div>

  </ion-card-content>
</ion-card>
