<ion-card class="common-container quiz-container" style="min-height: 500px; padding-left: 16px;
    padding-right: 16px;">
  <ion-card-header>
    <ion-card-title>{{ quizTitle }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ng-container *ngIf="currentIndex < sripa.length">
    <div class="quiz-slide" *ngFor="let q of sripa; let i = index" [hidden]="i !== currentIndex">
      <div class="qs-row question-subheading">
        <div class="qs-col">
        <strong>Question:</strong>
      </div>
      </div>
      <div class="qs-row question-row">
        <div class="qs-col" >{{ q.question }}</div>
        <div class="qs-col qsc-1" >
        <div  class="qs-row">
          <div class="qs-col ta-center">
            <label>
              <input
                type="radio"
                [name]="'yesNoChoice' + i"
                [(ngModel)]="selectedOptions[i]"
                [value]="'yes'"
              />
              Yes
            </label>
        
          </div>
          <div class="qs-col ta-center">
            <label>
              <input
                type="radio"
                [name]="'yesNoChoice' + i"
                [(ngModel)]="selectedOptions[i]"
                [value]="'no'"
              />
              No
            </label>
          </div>
        </div>
          
        </div>
        
      </div>

      <div class="qs-row answer-row" *ngIf="selectedOptions[i] === 'yes'">
        <div class="qs-col">
          <div [innerHTML]="renderRichText(q.responseyes)"></div>
        </div>     
       
      </div>
      <!-- <div class="qz-arrows">
        <ion-icon 
        name="chevron-back-outline"
          class="nav-arrow prev" 
          (click)="prevSlide()" [class.disabled]="currentIndex === 0">
        </ion-icon>
        <ion-icon 
        name="chevron-forward-outline"
          class="nav-arrow next" 
          (click)="nextSlide()" [class.disabled]="currentIndex === sripa.length">
        </ion-icon>
      </div> -->

      <div class="pagination">
        <ion-icon 
        name="chevron-back-outline"
          class="nav-arrow prev" 
          (click)="prevSlide()" [class.disabled]="currentIndex === 0">
        </ion-icon>
        <span *ngFor="let q of sripa; let idx = index"
              class="dot"
              [class.active]="currentIndex === idx"
              (click)="goToSlide(idx)"></span>
              <ion-icon 
              name="chevron-forward-outline"
                class="nav-arrow next" 
                (click)="nextSlide()" [class.disabled]="currentIndex === sripa.length">
              </ion-icon>
      </div>
    </div>
  </ng-container>
    <div class="yesanswer-content" *ngIf="currentIndex === sripa.length">
      <div [innerHTML]="renderRichText(yesanswer)"></div>
    </div>

  </ion-card-content>
</ion-card>
