
<ion-content [fullscreen]="true">
  <ion-grid  class="p-b-0 sm-cont-margin">
    <ion-row class="comp-space">
  <ion-col size="12">
  <pathome-healthyrelatitonship (loaded)="onChildLoaded()" [endpoint]="healtyrelationTitleContent"></pathome-healthyrelatitonship>
  </ion-col>
 </ion-row>
 <ion-row class="comp-space">
  <ion-col size="12">
    <pathome-healthyrelationshipcontent (loaded)="onChildLoaded()" [endpoint]="healthyrelationcontentwithoutbutton" [isBtnVisible]="false"></pathome-healthyrelationshipcontent>
  </ion-col>
 </ion-row>
 <ion-row class="comp-space">
  <ion-col size="12">
    <pathome-home-slider (loaded)="onChildLoaded()" [endpoint]="healthyrelationslider" [paramName]="'HealthyRelationshipSlider'" [showButton]="false"></pathome-home-slider>
  </ion-col>
</ion-row>
<ion-row class="comp-space">
  <ion-col size="12">
    <pathome-healthyrelationshipcontent (loaded)="onChildLoaded()" [endpoint]="healthyrelationcontentwithbutton" [routerLink]="['/nopeaceathome']" [isBtnVisible]="true"></pathome-healthyrelationshipcontent>
  </ion-col>
 </ion-row>
 <ion-row class="comp-space">
  <ion-col class="ion-text-center">
    <ion-button color="secondary" [routerLink]="['/nopeaceathome']" (click)="expandMenu('No Peace at Home')" size="small">Explore the Next Chapter.....</ion-button>
    </ion-col>
    </ion-row>
</ion-grid>
<ion-grid class="footer-container">
  <ion-row>
    <ion-col class="p-0">
      <pathome-footer></pathome-footer>
      </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
