<pathome-header></pathome-header>
<ion-content [fullscreen]="true">
 <ion-row>
  <ion-col size="12">
  <pathome-healthyrelatitonship></pathome-healthyrelatitonship>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="10">
    <pathome-healthyrelationshipcontent></pathome-healthyrelationshipcontent>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="12">
    <pathome-healthyrelationship-slider></pathome-healthyrelationship-slider>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="10">
    <pathome-unhealthyrelationshipcontent></pathome-unhealthyrelationshipcontent>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="12">
  <pathome-footer></pathome-footer>
  </ion-col>
 </ion-row>
</ion-content>
