
<ion-content [fullscreen]="true">
  <div class="cmh-container">
  <ion-grid class="p-b-0 sm-cont-margin container-min-height">
    <ion-row class="comp-space">
      <ion-col>
        <pathome-healthyunhealathyquiz (loaded)="onChildLoaded()"></pathome-healthyunhealathyquiz>
      </ion-col>
    </ion-row>
    <ion-row class="comp-space">
      <ion-col class="ion-text-center">
        <ion-button color="secondary" (click)="expandMenu('/abusiverelationship')" [routerLink]="['/abusiverelationship']" size="small">Explore the Next Chapter.....</ion-button>
        </ion-col>
        </ion-row>
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
  </div>
</ion-content>
