<ion-grid class="healthy-unhealthy-container p-0 width-100"   *ngIf="physicalAbuse" 
[ngClass]="{'reverse-image': imagePosition === 'right'}">
  <ion-row>
    <ion-col size="12" size-sm="12" size-lg="6" class="p-0 con-container-center order1">
      <ion-card >
        <ion-card-content>
    <ion-text class="content-heading" *ngIf="physicalAbuse.titleContent.length > 0">
      <h3>
     
          {{ getHeadingText(physicalAbuse.titleContent) }}
      
      </h3>
    </ion-text>
    <ion-text class="cb-content" *ngIf="physicalAbuse.titleContent.length > 1">
      <ng-container *ngFor="let line of getParagraphLines()">
      {{ line }}
  </ng-container>
  </ion-text>

  <ion-text class="cb-content" *ngIf="getListItems().length > 0">
    <ul>
      <li *ngFor="let item of getListItems()">{{ item }}</li>
    </ul>
  </ion-text>

<div class="m-t-16 tcrm" [ngClass]="{'tcrl': isExpanded}" *ngIf="physicalAbuse?.example?.length > 0 && isExpanded">
  
      <ion-text class="cb-content" >
           
    
          <span ><b>Examples/Scenarios</b></span>
        
      
    
    </ion-text>

    <ion-text class="lrc-ul ">
      <ol  >
        <li *ngFor="let example of physicalAbuse.example; let i = index">
          {{ example.description }}
        </li>
      </ol>
   
    </ion-text>

  </div>

    


  <ion-button fill="clear" *ngIf="physicalAbuse?.example?.length > 0" size="small" class="rmc-button" [ngClass]="{'button-left': buttonPosition === 'left'}" (click)="toggleReadMore()">   {{ isExpanded ? 'Read Less' : 'Read More' }}<ion-img [src]="isExpanded ? '../../../assets/upArrow.svg' : '../../../assets/downArrow.svg'" alt="Contact Us"></ion-img></ion-button>



 
        </ion-card-content>
</ion-card>
    </ion-col>
    <ion-col size="12" size-sm="12" size-lg="6" class="p-0 img-container">
      <ion-img class="lc-image"
        [src]="physicalAbuse.webImage?.fullUrl || 'assets/images/physical-abuse.png'" 
        alt="Physical Abuse"
      ></ion-img>
    </ion-col>
    </ion-row>
    </ion-grid>