@import "styles-dir";

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: $font-size-l;
  color: var(--color-Gray34); // Default color for parent items
  margin-bottom: 8px;
  margin-left: 5px;

  .bc-content {
    margin-right: 5px;
  }

  .breadcrumb-link {
    cursor: pointer;
    color: var(--color-Gray34); // Light grey for parent
    text-decoration: none;
  }

  .breadcrumb-link:hover {
    text-decoration: underline;
  }

  .breadcrumb-current {
    font-weight: $font-bold;
    font-size: $font-size-xll;
    color: var(--ion-color-primary); // Primary color for the current page

    .state-selectbox {
      --padding-start: 8px; // Reduced padding to decrease height
      --padding-end: 16px; // Slightly reduced for arrow space
      --padding-top: 2px; // Reduce top padding
      --padding-bottom: 2px; // Reduce bottom padding
      min-width: 200px;
      max-width: 300px;
      font-size: $font-size-xll;
      color: var(--ion-color-primary);
      --border-width: 1px; // Reduce border thickness
      --border-style: solid;
      --border-color: var(--ion-color-primary);
      --min-height: 32px; // Reduce the height of the dropdown

      ion-select {
        width: 100%;
        height: 100%; // Ensure it fits within the adjusted height
      }

      &::part(icon) {
        color: var(--ion-color-primary);
        margin-left: 5px;
      }

      &::part(placeholder) {
        color: var(--ion-color-primary);
      }

      &::part(text) {
        color: var(--ion-color-primary);
      }
    }
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    .breadcrumb-current {
      .state-selectbox {
        min-width: 150px;
        max-width: 200px;
        font-size: $font-size-l;
        --min-height: 28px; // Slightly smaller height on mobile
        --padding-start: 6px; // Further reduced padding on mobile
        --padding-end: 14px;
        --padding-top: 1px;
        --padding-bottom: 1px;
      }
    }
  }
}