@import "styles-dir";

.breadcrumb {
  display: flex;
  align-items: center;
    font-size: $font-size-xll;
    color: var(--color-Gray34); // Default color for parent items
    margin-bottom: 8px;
  
    .breadcrumb-link {
      cursor: pointer;
      color: var(--color-Gray34); // Light grey for parent
      text-decoration: none;
    }
  
    .breadcrumb-link:hover {
      text-decoration: underline;
    }
  
    .breadcrumb-current {
      font-weight: $font-bold ;
      font-size: $font-size-xll;
      color: var(--ion-color-primary); // Primary color for the current page
    }
  }
  