

<ion-content [fullscreen]="true">
  <ion-grid  class="p-b-0 sm-cont-margin">

    <!-- First Row: Single Component -->
    <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-healthyrelatitonship (loaded)="onChildLoaded()" [endpoint]="nopeaceathometitlecontent"></pathome-healthyrelatitonship>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-home-slider (loaded)="onChildLoaded()" [routerLink]="['/unhealthyrelationship']" [routerLinkTitle]="'Unhealthy Relationship'" [endpoint]="nopeaceathomeslider" [showButton]="true" [paramName]="'nopeaceathome'"></pathome-home-slider>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
     
    <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-unhealthyrelationshipcontent (loaded)="onChildLoaded()" [endPoint]="nopeacehouseholdconflicts" contentPlacement="left"></pathome-unhealthyrelationshipcontent>

      </ion-col>
    </ion-row>
    <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-unhealthyrelationshipcontent (loaded)="onChildLoaded()" [endPoint]="nopeacetoxicrelationship" contentPlacement="right"></pathome-unhealthyrelationshipcontent>
      </ion-col>
    </ion-row>
    


        <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-healthyrelationshipcontent (loaded)="onChildLoaded()" [endpoint]="nopeacepartnerviolencecontent" [routerLink]="['/unhealthyrelationship']" [isBtnVisible]="true"></pathome-healthyrelationshipcontent>
      </ion-col>
    </ion-row>
    

    <ion-row class="comp-space">
      <ion-col size="12">
        <pathome-unhealthyrelationexample (loaded)="onChildLoaded()"></pathome-unhealthyrelationexample>
      </ion-col>
    </ion-row>
    <ion-row class="comp-space">
      <ion-col class="ion-text-center">
        <ion-button color="primary" [routerLink]="['/unhealthyrelationship']" (click)="expandMenu('Unhealthy Relationship')" size="small">Explore the Next Chapter.....</ion-button>
        </ion-col>
        </ion-row>
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
