<pathome-header></pathome-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- First Row: Single Component -->
    <ion-row>
      <ion-col size="12">
        <pathome-healthyrelatitonship [endpoint]="nopeaceathometitlecontent"></pathome-healthyrelatitonship>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row>
      <ion-col size="12">
        <pathome-home-slider [endpoint]="nopeaceathomeslider" [paramName]="'nopeaceathome'"></pathome-home-slider>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
    <ion-row>
      <ion-col size="12">
      
      </ion-col>
    </ion-row>
    

        <!-- Third Row: Full-Width Slide Component -->
        <ion-row>
          <ion-col size="12">
          
          </ion-col>
        </ion-row>

            <!-- Third Row: Full-Width Slide Component -->
    <ion-row>
      <ion-col size="12">
      
      </ion-col>
    </ion-row>

    <!-- Fourth Row: Footer Component -->
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
