
<ion-content [fullscreen]="true">
<div class="cmh-container" [ngClass]="{'state-selected': isStateSelected}">
  <ion-grid class="p-b-0 sm-cont-margin container-min-height">
    <ion-row>
      <ion-col>
        <pathome-usa-map (stateSelected)="onStateSelected($event)"></pathome-usa-map>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
</div>
</ion-content>
