<!-- <ion-grid class="carousel">
  <ion-row>
    <ion-col size-md="10" offset-md="1" class="card" *ngFor="let item of items; let i = index" [class.active]="currentIndex === i">
      <div class="image-container">
        <ion-img [src]="item.image" [alt]="item.title"></ion-img>
      </div>
      <h3 class="title">{{ item.title }}</h3>
      <p class="description">{{ item.description }}</p>
      <ion-button expand="block" class="read-more">Read More</ion-button>
      <ion-icon name="chevron-back-outline" class="arrow left-arrow" (click)="prevSlide()"></ion-icon>
      <ion-icon name="chevron-forward-outline" class="arrow right-arrow" (click)="nextSlide()"></ion-icon>
      <div class="dots">
        <div *ngFor="let dot of items; let i = index" [class.active]="currentIndex === i"></div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-grid class="carousel" *ngIf="sliderData">
  <h3 class="maintitle">{{mainTitle}}</h3>
  <ion-row>
    <ion-col size-md="10" offset-md="1" class="card" *ngFor="let description of descriptions; let i = index" 
             [class.active]="currentIndex === i">
      <div class="image-container">
        <ion-img [src]="webImage" [alt]="sliderData.title"></ion-img>
      </div>
      
      <!-- Iterate through multilinerichtextbox -->
      <div *ngFor="let content of description.multilinerichtextbox">
        <h3 *ngIf="content.type === 'heading'" class="title" [innerHTML]="getStyledText(content.children[0])"></h3>
        <p *ngIf="content.type === 'paragraph'" class="description">
          <span *ngFor="let child of content.children" [innerHTML]="getStyledText(child)"></span>
        </p>
      </div>

      <ion-button *ngIf="i === 0" expand="block" class="read-more">Read More</ion-button>
      
      <ion-icon name="chevron-back-outline" class="arrow left-arrow" (click)="prevSlide()"></ion-icon>
      <ion-icon name="chevron-forward-outline" class="arrow right-arrow" (click)="nextSlide()"></ion-icon>
      
      <div class="dots">
        <div *ngFor="let dot of descriptions; let j = index" [class.active]="currentIndex === j"></div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>