

<ion-grid class="legal-container p-0" *ngFor="let scenario of scenarioData">
  <ion-row>
    <!-- First column - content (text/lists) based on contentPlacement -->
    <ion-col size="12" size-sm="6" *ngIf="contentPlacement === 'left'" class="p-0 con-container-center">
      <ion-card >
      <ion-card-content>
      
          <ng-container *ngFor="let content of scenario.content">
            <!-- Handle headings -->
            <ion-text class="content-heading" *ngIf="content.type === 'heading'">
              <h3 *ngIf="content.level === 3">
                <ng-container *ngFor="let part of content.children">
                  <span *ngIf="part.bold" color="dark"><b>{{ part.text }}</b></span>
                  <span *ngIf="part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                  <span *ngIf="!part.bold && !part.italic" color="dark">{{ part.text }}</span>
                </ng-container>
              </h3>
            </ion-text>

            <!-- Handle paragraphs -->
            <ion-text class="cb-content" *ngIf="content.type === 'paragraph'">
           
                <ng-container *ngFor="let part of content.children">
                  <span *ngIf="part.bold" color="dark"><b>{{ part.text }}</b></span>
                  <span *ngIf="part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                  <span *ngIf="!part.bold && !part.italic" color="dark">{{ part.text }}</span>
                </ng-container>
            
            </ion-text>

            <!-- Handle lists (unordered or ordered) -->
            <ion-text *ngIf="content.type === 'list'" class="lrc-ul">
              <ul *ngIf="content.format === 'unordered'" >
                <li *ngFor="let item of content.items">
                  <ng-container *ngFor="let part of item.children">
                    <a *ngIf="part.type === 'link'" [href]="part.url" target="_blank">
                      <span *ngIf="part.children[0].bold" color="dark"><b>{{ part.children[0].text }}</b></span>
                      <span *ngIf="part.children[0].italic && !part.children[0].bold" color="dark"><i>{{ part.children[0].text }}</i></span>
                      <span *ngIf="!part.children[0].bold && !part.children[0].italic">{{ part.children[0].text }}</span>
                    </a>
                    <span *ngIf="part.type !== 'link' && part.bold" color="dark"><b>{{ part.text }}</b></span>
                    <span *ngIf="part.type !== 'link' && part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                    <span *ngIf="part.type !== 'link' && !part.bold && !part.italic" color="dark">{{ part.text }}</span>
                  </ng-container>
                </li>
              </ul>
              <ol *ngIf="content.format === 'ordered'">
                <li *ngFor="let item of content.items">
                  <ng-container *ngFor="let part of item.children">
                    <a *ngIf="part.type === 'link'" [href]="part.url" target="_blank">
                      <span *ngIf="part.children[0].bold" color="dark"><b>{{ part.children[0].text }}</b></span>
                      <span *ngIf="part.children[0].italic && !part.children[0].bold" color="dark"><i>{{ part.children[0].text }}</i></span>
                      <span *ngIf="!part.children[0].bold && !part.children[0].italic">{{ part.children[0].text }}</span>
                    </a>
                    <span *ngIf="part.type !== 'link' && part.bold" color="dark"><b>{{ part.text }}</b></span>
                    <span *ngIf="part.type !== 'link' && part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                    <span *ngIf="part.type !== 'link' && !part.bold && !part.italic" color="dark">{{ part.text }}</span>
                  </ng-container>
                </li>
              </ol>
            </ion-text>
          </ng-container>
    
      </ion-card-content>
    </ion-card>
    </ion-col>

    <!-- Image column -->
    <ion-col size="12" size-sm="6" *ngIf="webImage" class="p-0 img-container">
      <ion-img class="lc-image" [src]="webImage" alt="Scenario Image"></ion-img>
    </ion-col>

    <!-- Text column for right placement -->
    <ion-col class="con-container-center" size="12" size-sm="6" *ngIf="contentPlacement === 'right'" >
      <ion-card >
      <ion-card-content>
     
          <ng-container *ngFor="let content of scenario.content">
            <!-- Same heading, paragraph, and list logic as above -->
            <ion-text class="content-heading" *ngIf="content.type === 'heading'">
              <h3 *ngIf="content.level === 3">
                <ng-container *ngFor="let part of content.children">
                  <span *ngIf="part.bold" color="dark"><b>{{ part.text }}</b></span>
                  <span *ngIf="part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                  <span *ngIf="!part.bold && !part.italic" color="dark">{{ part.text }}</span>
                </ng-container>
              </h3>
            </ion-text>

            <ion-text class="cb-content" *ngIf="content.type === 'paragraph'">
           
                <ng-container *ngFor="let part of content.children">
                  <span *ngIf="part.bold" color="dark"><b>{{ part.text }}</b></span>
                  <span *ngIf="part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                  <span *ngIf="!part.bold && !part.italic" color="dark">{{ part.text }}</span>
                </ng-container>
          
            </ion-text>

            <ion-text *ngIf="content.type === 'list'" class="lrc-ul">
              <ul *ngIf="content.format === 'unordered'" >
                <li *ngFor="let item of content.items">
                  <ng-container *ngFor="let part of item.children">
                    <a *ngIf="part.type === 'link'" [href]="part.url" target="_blank">
                      <span *ngIf="part.children[0].bold" color="dark"><b>{{ part.children[0].text }}</b></span>
                      <span *ngIf="part.children[0].italic && !part.children[0].bold" color="dark"><i>{{ part.children[0].text }}</i></span>
                      <span *ngIf="!part.children[0].bold && !part.children[0].italic">{{ part.children[0].text }}</span>
                    </a>
                    <span *ngIf="part.type !== 'link' && part.bold" color="dark"><b>{{ part.text }}</b></span>
                    <span *ngIf="part.type !== 'link' && part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                    <span *ngIf="part.type !== 'link' && !part.bold && !part.italic" color="dark">{{ part.text }}</span>
                  </ng-container>
                </li>
              </ul>
              <ol *ngIf="content.format === 'ordered'">
                <li *ngFor="let item of content.items">
                  <ng-container *ngFor="let part of item.children">
                    <a *ngIf="part.type === 'link'" [href]="part.url" target="_blank">
                      <span *ngIf="part.children[0].bold" color="dark"><b>{{ part.children[0].text }}</b></span>
                      <span *ngIf="part.children[0].italic && !part.children[0].bold" color="dark"><i>{{ part.children[0].text }}</i></span>
                      <span *ngIf="!part.children[0].bold && !part.children[0].italic">{{ part.children[0].text }}</span>
                    </a>
                    <span *ngIf="part.type !== 'link' && part.bold" color="dark"><b>{{ part.text }}</b></span>
                    <span *ngIf="part.type !== 'link' && part.italic && !part.bold" color="dark"><i>{{ part.text }}</i></span>
                    <span *ngIf="part.type !== 'link' && !part.bold && !part.italic" color="dark">{{ part.text }}</span>
                  </ng-container>
                </li>
              </ol>
            </ion-text>
          </ng-container>
      
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>


