.class-image{
    width:50%;
    height:auto;
    margin-left:20px;
}

.header-title{
    margin-bottom: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  
  .content-heading {
    font-size: 18px; 
    line-height: 1.5; 
    color: #333; 
    margin: 0; 
  }
  
  .content-heading h3 {
    font-weight: 600; 
    margin: 0; 
  }
  
  .content-paragraph {
    font-size: 14px; 
    line-height: 1.5; 
    color: #333;
    margin: 0; 
  }
  
  .content-paragraph p {
    margin: 0;
  }
  
  .content-list {
    font-size: 14px; 
    line-height: 1.5;
    color: #333;
    margin: 0;
  }
  
  .content-list ul,
  .content-list ol {
    padding-left: 20px; 
    margin: 0;
  }
  
  .content-list li {
    margin: 4px 0; 
    padding: 0;
  }