:host {
  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }

  h2 {
    font-size: 1.8rem;
    color: #813f95;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .highlight {
    font-weight: bold;
    color: #813f95;
  }

  .form-container {
    background: #f5f5f5;
    margin: 16px 0;
    width: 70%;
  }

  .button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    
    ion-button {
      width: 17%;
    }
  }

  .validation-error {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    
    p {
      margin: 4px 0;
    }
  }

  .custom-input {
    font-size: 14px;
  }

  .footer-note {
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .btn-clr {
    --background:#a0a0a0;
  }

  .btn-submit {
    --background: #813f95;
  }

  ion-item {
    --border-radius: 7px;
    margin-bottom: 15px;
  }

  .captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  
    .g-recaptcha {
      margin-bottom: 10px;
    }
  
    ion-button {
      --background: #4285f4;
      --background-hover: #357abd;
      --background-activated: #357abd;
      --padding-top: 20px;
      --padding-bottom: 20px;
      font-weight: 500;
      width: 250px;
  
      &[disabled] {
        --background: #cccccc;
        --background-hover: #cccccc;
        --background-activated: #cccccc;
      }
    }
  }
  
}