<ion-card class="common-container scc-content b-l-r-border-radius">

  
<ion-grid >
  <ion-row >
    <ion-col>
      <pathome-breadcrumb></pathome-breadcrumb>
      </ion-col>
      </ion-row>
    <ion-row >
      <ion-col>
       
       
        <div class="support-map-container">
          <div class="gmap-container">
        
            <google-map height="100%" width="100%" [zoom]="zoom" class="gm-content">
              <map-marker 
                *ngFor="let location of filteredLocations" 
                [position]="{ lat: location.OrgLatitude, lng: location.OrgLongitude }" 
                [label]="location.OrgName">
              </map-marker>
            </google-map>
          </div>
          <div class="search-container">
            <ion-toolbar class="search-toolbar">      
              <div class="st-cont-container">
                              <ion-icon 
              src="../assets/gps.svg"
                    (click)="onIconClick()">
                  </ion-icon>
              <ion-searchbar searchIcon="undefined"
                [(ngModel)]="searchQuery"
                (keyup.enter)="onSearch()"
                (ionInput)="onInputChange($event)"
                placeholder="Type your current location"
              
              ></ion-searchbar>
              <ion-buttons slot="end" class="ss-search-button">
              <ion-button (click)="onSearch()">
                <ion-icon name="search-outline"></ion-icon>
              
              </ion-button>
              </ion-buttons>            
            </div>
            <ion-buttons slot="end" >
              
                 <ion-button (click)="toggleFilter()" class="icon-button" fill="outline">
                <ion-icon   src="../assets/filter.svg"></ion-icon>
                <ion-badge *ngIf="getSelectedFilterCount() > 0" color="primary">
                  {{ getSelectedFilterCount() }}
                </ion-badge>
              </ion-button>
            </ion-buttons>
            </ion-toolbar>
            
          </div>
          <div class="sc-con-container">
          <div class="cards-container">
            <ion-card class="cc-cont-contaner locations-card" *ngIf="geolocationEnabled">
              <ion-card-header>
                <ion-card-title>Support Services near you</ion-card-title>
                <ion-icon class="close-btn" name="close-outline"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item  [button]="true" *ngFor="let location of filteredLocations" (click)="onLocationClick(location)">
                    <div class="scrollable-content">
                      <div class="location-info">
                        <h2>{{ location.OrgName }}</h2>
                        <p>{{location.ServiceHours}}</p>
                      </div>
                      <ion-buttons class="ab-containers">
                        <ion-button fill="clear" size="small" class="action-button" (click)="openGoogleMaps(location.OrgLatitude,location.OrgLongitude)">
                          <ion-icon name="navigate-outline"></ion-icon>
                          Direction
                        </ion-button>
                        
                        <ion-button fill="clear" size="small" class="action-button" (click)="openServices(location)">
                          <ion-icon name="list-outline"></ion-icon>
                          Services
                        </ion-button>
                        
                        <ion-button fill="clear" size="small" class="action-button" (click)="openSupport(location.OrgWebUrl)">
                          <ion-icon name="people-outline"></ion-icon>
                          Website
                        </ion-button>
                        
                        <ion-button fill="clear" size="small" class="action-button" (click)="openPhone(location.PhoneNumber)">
                          <ion-icon name="call-outline"></ion-icon>
                          Phone
                        </ion-button>
                      </ion-buttons>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          
          
            
          
          
          
          <ion-card *ngIf="selectedLocation" class="cc-cont-contaner details-card">
            <ion-card-header>
              <!-- <ion-card-title>{{ selectedLocation.OrgName }}</ion-card-title> -->
              <div class="location-info">
                <h2>{{ selectedLocation.OrgName }}</h2>
                <p>{{ selectedLocation.ServiceHours }}</p>
              </div>
              <ion-icon class="close-btn" name="close-outline" (click)="closeDetails()"></ion-icon>
            </ion-card-header>
          
            <ion-card-content>
              <!-- <div class="location-info">
                <p>{{ selectedLocation.ServiceHours }}</p>
              </div>
           -->
              <div class="scrollable-content">
              <ion-buttons class="ab-containers">
                  <ion-button fill="clear" size="small" class="action-button" (click)="openGoogleMaps(selectedLocation.OrgLatitude, selectedLocation.OrgLongitude)">
                    <ion-icon name="navigate-outline"></ion-icon>
                    Direction
                  </ion-button>
                  
               
                  <ion-button fill="clear" size="small" class="action-button" (click)="openServices(selectedLocation)">
                    <ion-icon name="list-outline"></ion-icon>
                    Services
                  </ion-button>
                  
                  <ion-button fill="clear" size="small" class="action-button" (click)="openSupport(selectedLocation.OrgWebUrl)">
                    <ion-icon name="people-outline"></ion-icon>
                    Website
                  </ion-button>
                  
                  <ion-button fill="clear" size="small" class="action-button" (click)="openPhone(selectedLocation.PhoneNumber)">
                    <ion-icon name="call-outline"></ion-icon>
                    Phone
                  </ion-button>
                </ion-buttons>
          <div class="seg-cont-container">
                <ion-segment [(ngModel)]="segment" [scrollable]="true">
                  <ion-segment-button value="about">
                    About
                  </ion-segment-button>
                  <ion-segment-button value="services">
                    Services
                  </ion-segment-button>
                </ion-segment>
                <ion-segment-view> 
             
                <div *ngIf="segment === 'about'" class="about-section" [innerHTML]="getAboutText(selectedLocation)"></div>
          
                <div *ngIf="segment === 'services'" class="services-section">
                
                    <h4>Providing Services</h4>
                
       
                    <ol>
                      <li *ngFor="let service of getServices(selectedLocation)">
                        <span [ngClass]="{'underlined': service.isHotline}">{{ service.name }}</span>
                        <ng-container *ngIf="typeof service.value === 'string' && service.value">
                          - <a href="tel:{{ service.value }}">{{ service.value }}</a>
                        </ng-container>
                      </li>
                    </ol>
              
                </div>
              </ion-segment-view>
            </div>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="filterOpen" class="cc-cont-contaner filter-card">
            <ion-card-header class="filter-header ion-align-items-center ion-justify-content-between">
              <div class="fh-heading">
                <ion-icon name="arrow-back" class="btn-closefilter" (click)="closeFilter()"></ion-icon>
                <ion-card-title>Filters</ion-card-title>
              </div>
              <ion-icon class="close-btn" name="close-outline"></ion-icon>
              
            </ion-card-header>
            <ion-card-content class="filter-con-container">
             
          
              <ion-searchbar [(ngModel)]="filterSearchTerm" placeholder="Search" class="filter-search"></ion-searchbar>
          
              <ol>
                <li *ngFor="let option of filteredFilterOptions">
                  <!-- <ion-checkbox [(ngModel)]="option.selected"></ion-checkbox>
                  <ion-label class="ion-padding-start">{{ option.label }}</ion-label> -->

                  <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="option.selected">{{ option.label }}</ion-checkbox>
                </li>
              </ol>
              <ion-buttons class="ion-justify-content-end">
                <ion-button fill="solid" color="secondary"  (click)="clearFilters()">Clear</ion-button>
                <ion-button fill="solid" color="primary" (click)="applyFilters()">Submit</ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-card>
          </div>
        </div>
</div>
  </ion-col>
  </ion-row>
</ion-grid>

</ion-card>