<div class="common-container risk-assessment-container h-100">
  <ion-grid class="p-0 h-100">
    <ion-row class="h-100">
      <ion-col size="12" size-sm="6" class="ra-banner order2">
        <div class="risk-login-banner"></div>
      </ion-col>
      <ion-col size="12" size-sm="6" class="ra-form-container order1">
        <h1>Risk Assessment</h1>
        <h3>Welcome! Sign In or Set Your Password</h3>
        <ion-card class="form-container">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <!-- Username Field -->
            <ion-item>
              <ion-input
                label="Username"
                formControlName="username"
                labelPlacement="stacked"
                placeholder="email@domain.com"
                type="text"
              ></ion-input>
            </ion-item>
            <div *ngIf="userForm.get('username')?.touched && userForm.get('username')?.errors?.['userNotFound']" class="text-red-500">
              Username not found.
            </div>

            <!-- Password Field -->
            <ion-item>
              <ion-input
                label="Password"
                formControlName="password"
                labelPlacement="stacked"
                placeholder="Enter Password"
                [type]="showPassword ? 'text' : 'password'"
              ></ion-input>
              <ion-icon
                slot="end"
                [name]="showPassword ? 'eye-off' : 'eye'"
                class="password-toggle-icon"
                (click)="showPassword = !showPassword"
              ></ion-icon>
            </ion-item>
            <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['incorrectPassword']" class="text-red-500" >
              Incorrect password.
            </div>

            <!-- New Password Field -->
            <ion-item>
              <ion-input
                label="New Password"
                formControlName="newPassword"
                labelPlacement="stacked"
                placeholder="Enter New Password"
                [type]="showNewPassword ? 'text' : 'password'"
              ></ion-input>
              <ion-icon
                slot="end"
                [name]="showNewPassword ? 'eye-off' : 'eye'"
                class="password-toggle-icon"
                (click)="showNewPassword = !showNewPassword"
              ></ion-icon>
            </ion-item>
            <div *ngIf="userForm.get('newPassword')?.touched">
              <div *ngIf="userForm.get('newPassword')?.errors?.['required']" class="text-red-500" >
                New password is required.
              </div>
              <div *ngIf="userForm.get('newPassword')?.errors?.['pattern']" class="text-red-500">
                Password must be at least 8 characters, include a letter, a number, and a special character (&#64;$!%*#?&).
              </div>
              <div *ngIf="userForm.get('newPassword')?.touched && userForm.hasError('samePassword')" class="text-red-500">
                New password cannot be the same as the current password.
              </div>
            </div>
            
            <!-- Confirm Password Field -->
            <ion-item>
              <ion-input
                label="Confirm Password"
                formControlName="confirmPassword"
                labelPlacement="stacked"
                placeholder="Confirm New Password"
                [type]="showNewPassword ? 'text' : 'password'"
              ></ion-input>
              <ion-icon
                slot="end"
                [name]="showNewPassword ? 'eye-off' : 'eye'"
                class="password-toggle-icon"
                (click)="showNewPassword = !showNewPassword"
              ></ion-icon>
            </ion-item>
            <div *ngIf="userForm.get('confirmPassword')?.touched && userForm.hasError('passwordMismatch')" class="text-red-500 text-sm mb-2" style="color: #ef4444 !important;">
              Confirm password does not match.
            </div>

            <div class="captcha-container" style="margin: 1rem 0;">
              <div #recaptcha></div>
            </div>
            <!-- Submit Button -->
            <div class="ra-login-buttons">
              <ion-button color="primary" [disabled]="userForm.invalid || !isCaptchaVerified" type="submit" expand="block">
                Submit
              </ion-button>
            </div>

          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
