<div class="risk-meter-container">
  <h2 class="title">RISK LEVELS</h2>
  <div class="gauge-wrapper">
    <app-custom-gauge
      [value]="value" marker="false"
      [min]="min" legend="false"
      [max]="max"
      [forceRedNeedle]="isRiskHigh"
      [ranges]="ranges">
    </app-custom-gauge>
  </div>
  
  <!-- <div class="legend">
    <div class="legend-item" *ngFor="let range of ranges">
      <span class="color-box" [style.background]="range.color" style="display:inline-block;width:10px;height:10px;margin-right:5px;"></span>
      <span class="label">{{ range.label }} ({{ range.min }}-{{ range.max }})</span>
    </div>
  </div> -->
</div>
