<ion-content [fullscreen]="true">
  <div class="cmh-container">
    <ion-grid class="p-b-0 sm-cont-margin container-min-height">
      <!-- Show Quiz Component -->
      <ion-row class="comp-space" *ngIf="!hidewhenshowingresults">
        <ion-col>
          <pathome-sripacomp></pathome-sripacomp>
        </ion-col>
      </ion-row>
      
      <ion-row class="comp-space" *ngIf="hidewhenshowingresults">
        <ion-col size="12">
          <ion-segment [(ngModel)]="selectedTab" class="web-tab-toggle">
            <ion-segment-button value="results">Results</ion-segment-button>
            <ion-segment-button value="actionplan">Action Plan</ion-segment-button>
          </ion-segment>
      
          <div class="web-tab-container">
            <div [ngClass]="{ 'blurred': selectedTab !== 'results' }" class="tab-pane">
              <pathome-ssriparesults
              #resultsRef
              [quizTitle]="quizTitle"
              [sripa]="sripa"
              [selectedOptions]="selectedOptions">
            </pathome-ssriparesults>
            </div>
            <div [ngClass]="{ 'blurred': selectedTab !== 'actionplan' }" class="tab-pane">
              <pathome-ssripaactionplan
              #actionPlanRef
              [quizTitle]="quizTitle"
              [sripa]="sripa"
              [selectedOptions]="selectedOptions">
            </pathome-ssripaactionplan>
            </div>
          </div>
          
          <!-- Export Button placed outside -->
          <div class="ion-text-center export-button-container">
            <ion-button color="tertiary" (click)="exportCurrentTabAsPDF()">
              Export PDF
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <!-- Action Buttons -->
      <ion-row class="comp-space">
        <ion-col size="12" size-sm="12" class="ion-text-center button-gap">
          <ion-button
            color="primary"
            (click)="expandMenu('Legal Rights')"
            [routerLink]="['/legalrights']"
            size="small"
          >
            Explore the Next Chapter.....
          </ion-button>

          <ion-button color="primary" size="small" (click)="showResults()" *ngIf="sripaCompRef?.showresults">
            Show results
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Footer -->
    <ion-grid class="footer-container">
      <ion-row>
        <ion-col class="p-0">
          <pathome-footer></pathome-footer>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
