
<ion-content [fullscreen]="true">

  <ion-grid class="p-b-0 sm-cont-margin">
    <ion-row class="comp-space">
      <ion-col>
        <pathome-sripacomp></pathome-sripacomp>
      </ion-col>
    </ion-row>
    <ion-row class="comp-space">
      <ion-col class="ion-text-center">
        <ion-button color="primary" [routerLink]="['/legalrights']" size="small">Next</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="primary" [disabled]="!sripaCompRef?.hasAnyAnswer || sripaCompRef.finalAnswerVisible" 
          (click)="onFinalAnswerClick()" size="small">Take me to Results</ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
