<ion-card class="container-banner cb-p-se" >
  <ion-card-content class="ic-content">
<ion-grid>
  <pathome-breadcrumb></pathome-breadcrumb>
  <ion-row>
    <!-- <div class="heading-img-container"> -->
      <ion-col  size="12" size-sm="6" >
        <ng-container *ngFor="let item of title">
          <ng-container *ngIf="item.type === 'heading'">
        
              <ng-container *ngFor="let child of item.children">
                <ion-text class="cb-header" [ngClass]="{'cb-header-highlight': child.bold}">
                  <strong *ngIf="child.bold">{{ child.text }}</strong>
                  <span *ngIf="!child.bold">{{ child.text }}</span>
                </ion-text>
              </ng-container>
       
          </ng-container>
          <ng-container *ngIf="item.type === 'paragraph'">
            <ion-text class="cb-content">
              <ng-container *ngFor="let child of item.children">
                {{ child.text }}
              </ng-container>
            </ion-text>
          </ng-container>
        </ng-container>
      </ion-col>
      <ion-col  size="12" size-sm="6"  class="img-container ">
        <ion-img [src]="img" alt="Healthy Relationship Illustration" *ngIf="img" class="hb-img"></ion-img>
      </ion-col>
    <!-- </div> -->
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="cc-box-content ccbc-flex-column">
        <!-- <ng-container *ngIf="paragraphContent">
          <ion-text class="cb-content">
            {{ paragraphContent }}
          </ion-text>
        </ng-container> -->
    <ion-card *ngFor="let block of contentBlocks">
      <ion-card-header *ngIf="block.multilinerichtextbox?.[0]?.type === 'heading'">
        <ion-card-title >
          <ion-text>
            {{ block.multilinerichtextbox[0]?.children[0]?.text }}
          </ion-text>
        
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let item of block.multilinerichtextbox">
          <p *ngIf="item.type === 'paragraph'">{{ item.children[0]?.text }}</p>
          <ul *ngIf="item.type === 'list' && item.format === 'unordered'">
            <li *ngFor="let listItem of item.children">
              <ng-container *ngFor="let child of listItem.children">
                <ng-container *ngIf="child.type === 'link'">
                  <a [href]="child.url" target="_blank" rel="noopener noreferrer">
                    {{ child.children[0]?.text }}
                  </a>
                </ng-container>
                <!-- Skip empty text nodes -->
                <ng-container *ngIf="child.type === 'text' && child.text">
                  <span>{{ child.text }}</span>
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </ng-container>
      </ion-card-content>
    </ion-card>
    </div>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>