<ion-grid class="relationship-container">
  <h4 class="subtitle">Healthy Relationship</h4>
  <div class="heading-img-container">
    <h2 class="title-highlight">
      <ng-container *ngFor="let item of title">
        <ng-container *ngFor="let child of item.children">
          <ion-text class="highlighted-text" *ngIf="child.bold"><strong>{{ child.text }}</strong></ion-text>
          <span *ngIf="!child.bold">{{ child.text }}</span>
        </ng-container>
      </ng-container>
    </h2>
    <ion-img [src]="img" alt="Healthy Relationship Illustration"></ion-img>
  </div>
  <ion-card *ngFor="let block of contentBlocks">
    <ion-card-header *ngIf="block.multilinerichtextbox[0]?.type === 'heading'">
      <ion-card-title>{{ block.multilinerichtextbox[0]?.children[0]?.text }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngFor="let item of block.multilinerichtextbox">
        <p *ngIf="item.type === 'paragraph'">{{ item.children[0]?.text }}</p>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-grid>