<div *ngIf="loaded" class="common-container risk-assessment-container h-100">
  <ion-grid class="p-0 h-100">
    <ion-row class="h-100">
      <!-- Left Image Panel -->
      <ion-col size="12" size-sm="1" class="ra-banner order2" style="min-height: 500px;">
        <div class="risk-login-banner-small"></div>
      </ion-col>

      <!-- Right Form Panel -->
      <ion-col size="12" size-sm="11" class="ra-form-container order1">
        <ion-card class="form-container rafc-container">
          <ion-grid class="d-flex-h-100">
            <ion-row>
              <ion-col size="12" size-sm="12">
                <div class="user-info">
                  <ion-text>Hi, {{ loggedInUser?.username || "User" }}</ion-text>
                
                
                


            <div class="dropdown">

  <ion-button shape="round" fill="clear">
  <ion-icon name="person-circle"></ion-icon>
</ion-button>
  <div class="dropdown-content">
  <a (click)="logout()">Logout</a>

  </div>


                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="5">
                <ion-item>
                  <ion-input
                    label="Case Number"
                    [(ngModel)]="caseNumber"
                    placeholder="Case Number (Optional)"
                    labelPlacement="stacked"
                  ></ion-input>
                </ion-item>
              </ion-col>   
              <ion-col size="12" size-sm="7" class="radio-selected-container">

                <ion-radio-group [(ngModel)]="guidedType" [allowEmptySelection]="true">
                  <ion-radio [value]="guidedType" labelPlacement="end" mode="md">{{ guidedTypeLabel }}</ion-radio>
                </ion-radio-group>

              </ion-col>             
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12">
                <h2>HITS Assessment</h2>
              </ion-col>
            </ion-row>


            <ion-row> 
              <ion-col size="12" size-sm="12" class="hit-assessment-scroll">
             
                <table class="hits-assessment-table">
                  <thead>
                    <tr>
                      <th colspan="2">How often does your partner?</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="tbody-first"></th>
                       <th class="tbody-container row-header"> <div class="tbc-content"><span *ngFor="let scale of scaleOptions">{{ scale }}</span></div></th>
                       
                    </tr>
                     <tr *ngFor="let question of hitsQuestions">
                      <th>{{ question.text }}</th>
                       <td class="tbody-container row-container">
                        
                      <ion-radio-group  value="center" class="tbc-content" [(ngModel)]="question.selected" [name]="'question_' + question.id" ngDefaultControl>
                        <!-- <ion-item *ngFor="let option of question.options"> -->
                          <!-- <ion-label>{{ option.label }}</ion-label> -->
                          <ion-radio mode="md" slot="start" alignment="center" justify="center" labelPlacement="stacked" [value]="option" *ngFor="let option of question.options"></ion-radio>
                        <!-- </ion-item> -->
                      </ion-radio-group>
                  
                       </td>
                       
                    </tr>
                     <tr style="display: none;">
      <th></th>
      <th class="tbody-container row-container-footer"><div class="tbc-content"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></div></th>
    </tr>
                  </tbody>
           
                </table>
                <!-- <div class="hits-header">
                  <h3>How often does your partner?</h3>
                  <div class="hits-scale">
                    <span *ngFor="let scale of scaleOptions">{{ scale }}</span>
                  </div>
                </div> -->
              
                <!-- <div class="hits-questions">
                  <div *ngFor="let question of hitsQuestions" class="question-block">
                    <p class="question-text">{{ question.text }}</p>
                    <div class="options">
                      <ion-radio-group [(ngModel)]="question.selected" [name]="'question_' + question.id" ngDefaultControl>
                        <ion-item *ngFor="let option of question.options">
                          <ion-label>{{ option.label }}</ion-label>
                          <ion-radio slot="start" [value]="option"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </div>
                  </div>
                </div>                          -->
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col size="12" size-sm="12" class="assessment-button">
                <div class="button-group">
                  <ion-button fill="outline" color="medium" (click)="goBack()"
                    >Back</ion-button
                  >
                  <ion-button color="primary" [disabled]="!isAllQuestionsAnswered()" (click)="submit()"
                    >Submit</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
