<ion-footer>
  <ion-grid *ngIf="!isMobile">
    <ion-row class="ion-justify-content-between"> 
      <ion-col size="12"  size-sm="12" size-lg="2"  class="d-flex all-rights">
        <ion-text>
          All rights reserved &#64;4EVA
        </ion-text>
      </ion-col>
      <ion-col size="12"  size-sm="12" size-lg="10" class="footer-menu">
        <div >
          <ul>
          <h5> <a (click)="expandMenu('Home')" routerLink="/home">Home</a></h5>
          </ul>
          <ul>
            <h5><a (click)="expandMenu('Peace at Home')" routerLink="/peaceathome">Peace at Home</a></h5>
            <li><a (click)="expandMenu('Healthy Relationship')" routerLink="/healthyrelationship" routerLinkActive="active">Healthy Relationship</a></li>
            </ul>
            <ul>
              <h5><a (click)="expandMenu('No Peace at Home')" routerLink="/nopeaceathome">No Peace at Home</a></h5>
            
                <li><a (click)="expandMenu('Unhealthy Relationship')" routerLink="/unhealthyrelationship" routerLinkActive="active" >Unhealthy Relationship</a>
                <!-- <ul>
                  <li><a (click)="expandMenu('HUHU Quiz')" routerLink="/quiz" routerLinkActive="active">HUHU Quiz</a></li>
                  
                </ul> -->
                </li>
                  <li><a (click)="expandMenu('Partner Violence')" routerLink="/abusiverelationship" routerLinkActive="active">Abusive Relationship</a></li>
                <li><a (click)="expandMenu('Types of Abuse')" routerLink="/typesofabuse" routerLinkActive="active">Types of Abuse</a>
                 <!-- <ul>
                  <li><a (click)="expandMenu('SSRiPA Assessment')" routerLink="/sripaa" routerLinkActive="active">SSRiPA Assessment</a></li>
                  
                </ul> -->
                </li>
              
           
              </ul>
              <ul>
                <h5><a (click)="expandMenu('Your Rights')" routerLink="/yourrights">Your Rights</a></h5>
              
                  <li><a (click)="expandMenu('Federal Level Law')" routerLink="/federallaw" routerLinkActive="active" >Federal Level Law</a></li>
                  <li><a (click)="expandMenu('US Law by State')" routerLink="/uslawsbystate" routerLinkActive="active">US Law by State</a></li>
             
                </ul>
              <ul>
                <h5> <a (click)="expandMenu('Support Service')" routerLink="/supportservice">Support Service</a></h5>
                </ul>
              <ul>
                <h5> <a (click)="expandMenu('Contact Us')" routerLink="/contactus">Contact Us</a></h5>
                </ul>
        </div>
       
       
      </ion-col>
    
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="isMobile">
    <ion-row class="ion-justify-content-between"> 
      <ion-col size="12" size-sm="4" class="d-flex ion-align-items-center all-rights">
        <ion-text>
          All rights reserved &#64;4EVA
        </ion-text>
      </ion-col>  
    </ion-row>
  </ion-grid>
 </ion-footer>
