<ion-footer>
  <ion-grid>
    <ion-row > 
      <ion-col size="6" class="d-flex ion-align-items-center">
        <ion-text>
          All rights reserved &#64; 4EVA
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <h5> <a href="#">Home</a></h5>
       
      </ion-col>
      <ion-col size="2">
        <h5><a href="#">Peace at Home</a></h5>
        <ul>
         
          <li><a href="#">Healthy Relationship</a></li>
        </ul>
      </ion-col>
      <ion-col size="2">
        <h5><a href="#">No Peace at Home</a></h5>
        <ul>
         
          <li><a href="#">Unhealthy Relationship</a></li>
          <li><a href="#">Partner Violence</a></li>
          <li><a href="#">Types of Abuse</a></li>
        </ul>
      </ion-col>
      <ion-col size="1">
        <h5> <a href="#">Contact Us</a></h5>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="footer-content">
    
    <div class="footer-right">
      <div class="footer-item">
        <span>Home</span>
      </div>
      <div class="footer-item">
        <span>Peace at Home</span>
        <ul>
          <li>Healthy Relationship</li>
        </ul>
      </div>
      <div class="footer-item">
        <span>No Peace at Home</span>
        <ul>
          <li>Unhealthy Relationship</li>
          <li>Partner Violence</li>
          <li>Types of Abuse</li>
        </ul>
      </div>
      <div class="footer-item">
        <span>Contact Us</span>
      </div>
    </div>
  </div> -->
</ion-footer>
