@import "styles-dir";

ion-header {
  height: 63px;
  background: var(--color-white);
  border-bottom: 5px solid var(--color-Gray84);
  box-shadow: none;
  //box-shadow: 0 2px 4px -6px rgba(0, 0, 0, 0.2), 0 4px 0px 0 rgba(200, 200, 200, 1), 0 1px 0 0 rgba(0, 0, 0, 0.12);
}
ion-img {
  width: 44px;
  margin-left: 44px;
}
