<ion-header>
  <ion-toolbar>
    <ion-menu-toggle slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-menu-toggle>
    <ion-title class="ion-no-padding">
      <ion-grid>
        <ion-row>
         
          <ion-col>
        
              <!-- <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle" checked />
              <label for="sidebar-toggle" class="sidebar-toggle-label">
                <ion-icon name="menu-outline"></ion-icon>
              </label> -->
         
            <!-- <ion-img src="../../../assets/icon/logo.svg" class="logo"></ion-img> -->
             <a  [routerLink]="['/home']" class="link-content"><ion-img src="../../../assets/icon/logoNew1.png" class="logoNew" *ngIf="!showExitButton"></ion-img></a>
           <a  [routerLink]="['/home']" class="link-content"> <ion-img src="../../../assets/icon/logoNew2.png" class="logoNew" *ngIf="showExitButton"></ion-img></a>
   
        </ion-col>
          <ion-col class="ion-text-end" *ngIf="showExitButton" style="padding-bottom: 0;padding-top: 3px;">
            <ion-button color="primary" (click)="expandMenu('Home')"  [routerLink]="['/home']">
              <ion-icon slot="start" name="close"></ion-icon>
              Exit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
