<ion-card class="card-small cs-fixed-height daily-tips-container">
  <ion-card-header>
    <ion-card-title>{{dailyPeaceTitle}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
       <ion-col> 
          <h3 class="ion-text-center">
            {{ currentDate | date:'MMM, yyyy' }}        
          </h3>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
          <div class="calendar-strip">
            <ion-button fill="clear" class="nav-button" (click)="navigateWeek('prev')">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        
            <div class="calendar-wrapper">
              <div class="weekdays" [class.slide-left]="slideDirection === 'left'" [class.slide-right]="slideDirection === 'right'">
                <div *ngFor="let date of weekDates; let i = index" 
                     class="day-item" 
                     [class.selected]="selectedDay === i"
                     [class.current]="isCurrentDay(i)"
                     (click)="selectDay(i)">
                  <div class="day-name">{{ weekDays[i] }}</div>
                  <div class="day-number">{{ date | date:'d' }}</div>
                </div>
              </div>
            </div>
        
            <ion-button fill="clear" class="nav-button" (click)="navigateWeek('next')">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="cs-footer">
            <p [@tipFade]="currentTip">
              {{ currentTip }}
            </p>
          </ion-col>
          </ion-row>
    </ion-grid>

</ion-card-content>
</ion-card>