

@keyframes slideLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-20px);
  }
  51% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(20px);
  }
  51% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.day-item {
  transition: background-color 0.3s; /* Smooth transition for enabled days */
}

.day-item.day-disabled .day-name,
.day-item.day-disabled .day-number {
  color: #D3D3D3; /* Light grey text for day name and number */
  cursor: not-allowed;
}

.day-item.day-disabled {
  pointer-events: none; /* Disable all interactions, including hover */
}

.day-item:hover:not(.day-disabled) {
  background-color: #e0e0e0; /* Highlight color for enabled days on hover */
}