<ion-card class="container-banner cb-p-se" >
  <ion-card-content class="ic-content">
<ion-grid>
  <pathome-breadcrumb></pathome-breadcrumb>
  <ion-row>

      <ion-col  size="12" size-sm="6" >
        <ng-container *ngFor="let item of title">
          <ng-container *ngIf="item.type === 'heading'">
        
              <ng-container *ngFor="let child of item.children">
                <ion-text class="cb-header" [ngClass]="{'cb-header-highlight': child.bold}">
                  <strong *ngIf="child.bold">{{ child.text }}</strong>
                  <span *ngIf="!child.bold">{{ child.text }}</span>
                </ion-text>
              </ng-container>
       
          </ng-container>
          <ng-container *ngIf="item.type === 'paragraph'">
            <ion-text>
              <ng-container *ngFor="let child of item.children">
                {{ child.text }}
              </ng-container>
            </ion-text>
          </ng-container>
        </ng-container>
      </ion-col>
      <ion-col  size="12" size-sm="6"  class="img-container ">
        <ion-img [src]="imageUrl" alt="Healthy Relationship Illustration" *ngIf="imageUrl" class="hb-img"></ion-img>
      </ion-col>

  </ion-row>
  <ion-row>
    <ion-col>
      <div [innerHTML]="legalRightsContent" class="legalrights-content"></div>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>