<ion-card class="common-container action-plan-container">
  <ion-card-header>
    <ion-card-title>{{ quizTitle }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div *ngFor="let item of actionItems" class="action-item">
      <div class="qs-row">
        <strong>{{ item.text }}</strong>
          <div *ngFor="let action of item.actions">
            <div [innerHTML]="renderRichText(action.description)"></div>
          </div>
      </div>
      <hr />
    </div>
  </ion-card-content>
</ion-card>
