<div *ngIf="loaded" class="common-container risk-assessment-container h-100">
  <ion-grid class="p-0 h-100">
    <ion-row class="h-100">
      <!-- Left Image Panel -->
      <ion-col size="12" size-sm="12" size-lg="5" class="ra-banner order2">
        <div class="risk-login-banner"></div>
      </ion-col>

      <!-- Right Form Panel -->
      <ion-col size="12" size-sm="12" size-lg="7" class="ra-form-container order1">
        <ion-card class="form-container rafc-container">
          <ion-grid class="d-flex-h-100">
            <ion-row>
              <ion-col size="12" size-sm="12">
                <div class="user-info">
                  <ion-text>Hi, {{ loggedInUser?.username || "User" }}</ion-text>
                
                
                


            <div class="dropdown">

  <ion-button shape="round" fill="clear">
  <ion-icon name="person-circle"></ion-icon>
</ion-button>
  <div class="dropdown-content">
  <a (click)="logout()">Logout</a>

  </div>


                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-row>
                <ion-col size="12" size-sm="12" size-lg="4">
                  <ion-item>
                    <ion-input
                      label="Case Number (Optional)"
                      [(ngModel)]="caseNumber"
                      placeholder="Case Number (Optional)"
                      labelPlacement="stacked"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="12" size-lg="6">
                  <ion-item>
                    <ion-input
                      label="View result by Assessment Number"
                      [(ngModel)]="assessmentNumber"
                      placeholder="Assessment Number"
                      labelPlacement="stacked"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-sm="12" size-lg="2">
                  <ion-button color="primary" (click)="viewResult(assessmentNumber)">Search</ion-button>
                </ion-col>
              </ion-row>
              <ion-col *ngIf="selectedAssessment" size="12" size-sm="12" size-lg="7" class="radio-selected-container">
                <ion-radio-group [(ngModel)]="guidedType">
                  <ion-radio [value]="guidedType" labelPlacement="end" mode="md">{{ guidedTypeLabel }}</ion-radio>
                </ion-radio-group>
              </ion-col>
                
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12">
                <h2>Risk Assessment</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12">
              <div class="asses-radio" *ngIf="!selectedAssessment">
                   <ion-text>This Assessment will be:</ion-text>
                   <ion-radio-group [(ngModel)]="guidedType" (ngModelChange)="onGuidedTypeChange($event)" [allowEmptySelection]="true">
                    <ion-radio value="self-guided" labelPlacement="end" mode="md">Self-Guided</ion-radio>
                    <ion-radio value="staff-guided" labelPlacement="end" mode="md">Staff-Guided</ion-radio>
                  </ion-radio-group>
              </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="12">
                <ion-label>Select the assessment type you’d like to conduct:*</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="d-flex-h-100">
              <ion-col size="12" size-sm="12" class="d-flex-h-100">
              <ion-row>
              <ion-col size="12" size-sm="12">
              
                <ion-select
                  class="state-selectbox"
                  placeholder="Select"
                  fill="outline"
                  interface="popover"
                  label="Assessment type"
                  label-placement="floating"
                  [(ngModel)]="selectedAssessment"
                  (ionChange)="onAssessmentChange()"
                >
                  <ion-select-option
                    *ngFor="let type of assessmentTypes"
                    [value]="type.name"
                  >
                    {{ type.name }}
                  </ion-select-option>
                </ion-select>
             
              </ion-col>
              </ion-row>
              <ion-row class="d-flex-h-100">
               <ion-col size="12" size-sm="12" class="d-flex-h-100 ass-description">
                 <div class="assessment-description" *ngIf="selectedAssessment">
                  <div class="asses-desc-border">
                    <h2 class="desc-heading">{{ selectedAssessment }}</h2>
                    <ion-text>{{ getSelectedAssessmentDescription() }}</ion-text>
                    </div>
                  </div>
                  </ion-col>
</ion-row>
              
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col size="12" size-sm="12" class="assessment-button">
                <div class="button-group">
                  <ion-button  *ngIf="selectedAssessment" color="secondary" (click)="goBack()"
                    >Back</ion-button
                  >
                  <ion-button color="primary" (click)="goToTest()"
                    >Go to Test</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
