<div class="common-container risk-assessment-container h-100">
  <ion-grid class="p-0 h-100">
    <ion-row class="h-100">
      <!-- Left Image Panel -->
      <ion-col size="12" size-sm="12" size-lg="1" class="ra-banner order2" style="min-height: 500px !important;">
        <div class="risk-login-banner-small"></div>
      </ion-col>

      <!-- Right Form Panel -->
      <ion-col size="12" size-sm="12" size-lg="11" class="ra-form-container order1">
        <ion-card class="form-container rafc-container">
          <ion-grid class="d-flex-h-100">
            <ion-row>
              <ion-col size="12" size-sm="12">
                <div class="user-info">
                  <ion-text>Hi, {{ loggedInUser?.username || "User" }}</ion-text>
                
                
                


            <div class="dropdown">

  <ion-button shape="round" fill="clear">
  <ion-icon name="person-circle"></ion-icon>
</ion-button>
  <div class="dropdown-content">
  <a (click)="logout()">Logout</a>

  </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12" size-lg="5">
                <ion-item>
                  <ion-input
                    label="Case Number"
                    [(ngModel)]="caseNumber"
                    placeholder="Case Number (Optional)"
                    labelPlacement="stacked"
                  ></ion-input>
                </ion-item>
              </ion-col>   
              <ion-col size="12" size-sm="12" size-lg="7" class="radio-selected-container">

                <ion-radio-group [(ngModel)]="guidedType">
                  <ion-radio [value]="guidedType" labelPlacement="end" mode="md">{{ guidedTypeLabel }}</ion-radio>
                </ion-radio-group>

              </ion-col>             
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12">
                <h2>The Danger Assessment</h2>
              </ion-col>
            </ion-row>


            <ion-row> 
              <ion-col size="12" size-sm="12" class="hit-assessment-scroll">
             
                <table class="assessment-table-container da-assessment-table quiz-slide">
                  <thead>
                    <tr>
                      <th colspan="2">{{ currentRangeText }}</th>
                      <th style="display: flex;justify-content: end;">
                        <div class="header-pagination">
                          <div class="pagination">
                            <ion-icon 
  name="chevron-back-outline"
  class="nav-arrow prev" 
  (click)="prevPage()"
  [class.disabled]="currentPageIndex === 0"
></ion-icon>

<ion-icon 
  name="chevron-forward-outline"
  class="nav-arrow next" 
  (click)="nextPage()"
  [class.disabled]="!daAssessment || (currentPageIndex + 1) * questionsPerPage >= daAssessment.length"
></ion-icon>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="tbody-first"></th>
                      <th class="tbody-container row-header"><div class="tbc-content"><span>Yes</span></div></th>
                      <th class="tbody-container row-header"><div class="tbc-content"><span>No</span></div></th>
                    </tr>
                  
                    <ng-container *ngFor="let question of paginatedQuestions; let i = index">
                      <tr>
                        <th>{{ (currentPageIndex * questionsPerPage) + i + 1 }}. {{ question.questionText }}</th>
                        <td class="tbody-container row-container">
                          <ion-radio-group [(ngModel)]="question.selected" (ionChange)="onAnswerChange(question, $event)">
                            <ion-radio value="Yes" labelPlacement="end">Yes</ion-radio>
                            <ion-radio value="No" labelPlacement="end">No</ion-radio>
                          </ion-radio-group>
                        </td>
                      </tr>
                    
                      <tr *ngFor="let sub of question.DAChild; let j = index" class="sub-questions">
                        <th>
                          {{ currentPageIndex * questionsPerPage + i + 1 }}{{ getCharFromCode(97 + j) }}.
                          {{ sub.questionText }}
                        </th>
                        <td class="tbody-container row-container">
                          <ion-radio-group [(ngModel)]="sub.selected" (ionChange)="onAnswerChange(sub, $event)">
                            <ion-radio value="Yes" labelPlacement="end">Yes</ion-radio>
                            <ion-radio value="No" labelPlacement="end">No</ion-radio>
                          </ion-radio-group>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
           
                </table>
              
              </ion-col>
            </ion-row>
             <ion-row>
              <ion-col size="12" size-sm="12">
               <div class="pagination">
          <!-- <ion-icon 
            name="chevron-back-outline"
            class="nav-arrow prev" 
            (click)="prevSlide()" 
            [class.disabled]="currentIndex === 0">
          </ion-icon> -->
          
          <!-- <span *ngFor="let q of sripa; let idx = index"
            class="dot"
            [class.active]="currentIndex === idx"
            (click)="goToSlide(idx)">
          </span> -->
          
          <!-- <ion-icon 
            name="chevron-forward-outline"
            class="nav-arrow next" 
            (click)="nextSlide()" 
            [class.disabled]="currentIndex === sripa.length - 1">
          </ion-icon> -->
        </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12" class="assessment-button">
                <div class="button-group">
                  <ion-button fill="outline" color="medium"
                    >Back</ion-button
                  >
                  <ion-button color="primary" (click)="submitDangerAssessment()"
                    >Submit</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
