:root {
  --ion-default-font              : $font-Inter;
  --ion-font-family               : $font-Inter;

  --menu-selected-color           : #AB52C5;
  --icon-color-dark               : #5F6368;

  --ion-color-primary             : #AB52C5;
  --background-activated          : #AB52C5;
  --background-focused            : #AB52C5;
  --background-hover              : #AB52C5;

  --color-primary                 :   #AB52C5;
  --color-secondary               :   #A0A0A0;
  --color-deep-Gray               :   #000000; //#202020;
  --color-white-smoke             :   #F5F5F5;
  --color-light-smoke             :   #FAFAFA;
  --color-dark-Gray               :   #4D4D4D;
  --icon-dark-Gray                :   #5F6368;
  --icon-tint-Gray                :   #7C7C7C;
  --color-container               :   #F1F1F1;
  --color-dark-magenta            :   #813F95;
  --color-Gray84                  :   #D6D6D6;
  --color-Gray64                  :   #D7D7D7;
  --color-Gray54                  :   #CCCCCC;
  --color-Gray44                  :   #CECECE;
  --color-Gray34                  :   #9E9E9E;
  --color-primary-contrast        :   #ffffff;
  --color-error                   :   red;
  --color-white                   :   #ffffff;
  --color-map-background          :   #F7F9FC;
  --color-map-background-selected :   #d85b1e;
  --color-map-state-selected      :   #DCE8FF;
  --color-yellow                  :   #F69204;
  --color-orange                  :   #F65B04;
  --color-red                     :   #F60404;
  --risk-login-background         :   #d5c4da;
  --color-link                    :   #8D8989;
  --color-light-purple            :   #f3edf7;
  --color-light-purple-border     :   #84349d;
  
}

$color-primary                    :   var(--color-primary);
$color-secondary                  :   var(--color-secondary);
$color-deep-Gray                  :   var(--color-deep-Gray);
$color-white-smoke                :   var(--color-white-smoke);
$color-light-smoke                :   var(--color-light-smoke);
$color-dark-Gray                  :   var(--color-dark-Gray);
$icon-dark-Gray                   :   var(--icon-dark-Gray);
$icon-tint-Gray                   :   var(--icon-tint-Gray);
$color-container                  :   var(--color-container);
$color-dark-magenta               :   var(--color-dark-magenta);
$color-Gray84                     :   var(--color-Gray84);
$color-Gray64                     :   var(--color-Gray64);
$color-Gray54                     :   var(--color-Gray54);
$color-Gray44                     :   var(--color-Gray44);
$color-Gray34                      :   var(--color-Gray34);
$color-primary-contrast           :   var(--color-primary-contrast);
$color-error                      :   var(--color-error);
$color-white                      :   var(--color-white);
$color-map-background             :   var(--color-map-background);
$color-map-background-selected    :   var(--color-map-background-selected);
$color-map-state-selected         :   var(--color-map-state-selected);
$color-yellow                     :   var(--color-yellow);
$color-orange                     :   var(--color-orange);
$color-red                        :   var(--color-red);
$risk-login-background            :   var(--risk-login-background);
$color-link                       :   var(--color-link );
$color-light-purple                       :   var(--color-light-purple );
$color-light-purple-border                       :   var(--color-light-purple-border );

   
$colors: () !default;
$colors: map-merge(
  (
   "color-primary" : $color-primary,
    "color-secondary":     $color-secondary,
    "color-deep-Gray":     $color-deep-Gray ,
    "color-white-smoke":     $color-white-smoke,
     "color-light-smoke":     $color-light-smoke,
    "color-dark-Gray":     $color-dark-Gray,
    "icon-dark-Gray":     $icon-dark-Gray ,
    "icon-tint-Gray":     $icon-tint-Gray  ,
    "color-container":     $color-container   ,
    "color-dark-magenta":     $color-dark-magenta,
    "color-Gray84":     $color-Gray84,
    "color-Gray64":     $color-Gray64,
    "color-Gray54":     $color-Gray54,
    "color-Gray44":     $color-Gray44,
    "color-Gray34":     $color-Gray34,
    "color-primary-contrast":     $color-primary-contrast,
    "color-error":     $color-error,
    "color-white":     $color-white,
      "color-link":     $color-link,   
    
  ),
  $colors
);
