<div *ngIf="loaded" class="summary-container">
  <ion-grid>  
    <ion-row>
      <ion-col size="12">
        <div class="risk-meter-section">
          <app-risk-meter 
            [score]="riskScore"
            [isRiskHigh]="isRiskRed"
            [ranges]="range">
          </app-risk-meter>
          
          <div class="risk-info">
            <p class="score-text">Your Risk Score:<span > {{ riskScore }}</span></p>
            <p class="risk-level">
              Risk Level: 
              <span *ngIf="range && getRiskCategory(riskScore) as category"
                     [ngClass]="category.color">
                {{ category.label }}
              </span>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
