.side-menu {
    position: fixed;
    right: 20px;
    top: 150px;
    width: 200px;
  }
  
  .side-menu a {
    display: block;
    padding: 10px 15px;
    color: #666;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
  }
  
  .side-menu a.active {
    color: #9333ea;
    border-left: 4px solid #9333ea;
    background-color: rgba(147, 51, 234, 0.1);
  }
  