

<ion-content [fullscreen]="true">
  <ion-grid  class="p-b-0 sm-cont-margin">

    <!-- First Row: Single Component -->
    <ion-row>
      <ion-col size="12">
        <pathome-typeofabusetitle></pathome-typeofabusetitle>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row>
      <ion-col size="12">
        <pathome-typesof-abuse-card [paramName]="'physicalAbuse'"  [endpoint]="physicalabuse" [imagePosition]="'left'" [buttonPosition]="'right'"></pathome-typesof-abuse-card>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
    <ion-row>
      <ion-col size="12">
        <pathome-typesof-abuse-card [paramName]="'sexualAbuse'"  [endpoint]="sexualabuse" [imagePosition]="'right'" [buttonPosition]="'left'"></pathome-typesof-abuse-card>
      </ion-col>
    </ion-row>
    

        <ion-row>
          <ion-col size="12">
            <pathome-typesof-abuse-card [paramName]="'emotionalAbuse'"  [endpoint]="emotionalabuse" [imagePosition]="'left'" [buttonPosition]="'right'"></pathome-typesof-abuse-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <pathome-typesof-abuse-card [paramName]="'verbalAbuse'"  [endpoint]="verbalabuse" [imagePosition]="'right'" [buttonPosition]="'left'"></pathome-typesof-abuse-card>
          </ion-col>
        </ion-row>
        
    
            <ion-row>
              <ion-col size="12">
                <pathome-typesof-abuse-card [paramName]="'financialAbuse'"  [endpoint]="financialabuse" [imagePosition]="'left'" [buttonPosition]="'right'"></pathome-typesof-abuse-card>

              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <pathome-typesof-abuse-card [paramName]="'technologicalAbuse'"  [endpoint]="technologicalabuse" [imagePosition]="'right'" [buttonPosition]="'left'"></pathome-typesof-abuse-card>
              </ion-col>
            </ion-row>
            
        
                <ion-row>
                  <ion-col size="12">
                    <pathome-typesof-abuse-card [paramName]="'immigrantAbuse'"  [endpoint]="immigrantabuse" [imagePosition]="'left'" [buttonPosition]="'right'"></pathome-typesof-abuse-card>
    
                  </ion-col>
                </ion-row>

     <ion-row>
      <ion-col size="12">
        <pathome-healthyrelationshipcontent [endpoint]="ipvtypesofabusesendpoint" [isBtnVisible]="true"></pathome-healthyrelationshipcontent>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
