


<ion-content [fullscreen]="true" class="d-flex">
 <div class="cmh-container">
   
  <!-- <ion-grid class="p-b-0 sm-cont-margin"> -->
    <ion-grid class="p-b-0 ra-grid">
    <!-- First Row: Single Component -->
    <ion-row class="ra-container h-100">
      <ion-col>
        <app-setpassword (startloader)="showLoader()" (stoploader)="hideLoader()" [reloadFlag]="reloadLoginData"></app-setpassword>
      </ion-col>
    </ion-row>
 
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <app-riskassessment-footer></app-riskassessment-footer>
        </ion-col>
        </ion-row>
  </ion-grid>
</div>
</ion-content>
