<pathome-header [showExitButton]="true"></pathome-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- First Row: Single Component -->
    <ion-row>
      <ion-col size="12">
        <pathome-peaceathome></pathome-peaceathome>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row>
      <ion-col size="12">
        <pathome-home-slider [endpoint]="peaceathomeslider" [paramName]="'peaceathomeslider'"></pathome-home-slider>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
    <ion-row>
      <ion-col size="12">
       <pathome-relational></pathome-relational>
      </ion-col>
    </ion-row>

    <!-- Fourth Row: Footer Component -->
    <ion-row>
      <ion-col size="12">
        <pathome-footer></pathome-footer>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
