<div class="menu-container">
  <ion-list lines="none">
    <ng-container *ngFor="let item of processedMenu">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { $implicit: item, level: 0 }"></ng-container>
    </ng-container>
  </ion-list>
  <div class="signinout-container">
    <div class="signin-container">
      <ion-button *ngIf="!showUserName" color="primary" fill="outline" size="small" (click)="UserLogin()" class="signin-button">Sign In</ion-button>
    
        <div *ngIf="showUserName" class="username-container"><!--After login display this-->
          Hi, <ion-text class="username">Username</ion-text>
          <ion-button fill="clear" size="small" class="signout-button" (click)="signOut()">Sign Out</ion-button>
      
       
     
  
      </div>
    </div>
    
    <ion-list lines="none" *ngIf="showUserName"> <!--After login display this-->
      <ion-item button detail="false"            >
    <ion-icon slot="start" class="menu-icon" src="/assets/riskAssesmentIcon.svg"></ion-icon>
    <ion-label>Risk Assessment</ion-label>
    <!-- <ion-icon *ngIf="item.children?.length" slot="end" 
              [name]="item.expanded ? 'chevron-down-outline' : 'chevron-forward-outline'">
    </ion-icon> -->
  </ion-item>
  </ion-list>
  </div>
</div>

<ng-template #menuItemTemplate let-item let-level="level">
  <ion-item button detail="false" 
            [class.selected]="item.link === selectedId"
            [class.level-{{level}}]="true"
            (click)="toggleItem(item, $event)"
            [ngClass]="{ 'thirdlevel-menu': hasTooltip(item.link) }"
            [attr.title]="getTooltip(item.link)">
    <ion-icon slot="start" [ngStyle]="{
      opacity: shouldHideIcon(item) ? '0' : '1',
      transition: 'opacity 0.3s ease'
    }" [src]="item.icon?.url" class="menu-icon"></ion-icon>
    <ion-label>{{ item.title }}</ion-label>
    <ion-icon *ngIf="item.children?.length" slot="end" 
              [name]="item.expanded ? 'chevron-down-outline' : 'chevron-forward-outline'">
    </ion-icon>
  </ion-item>

  <ng-container *ngIf="item.children?.length && item.expanded">
    <ng-container *ngFor="let child of item.children">
      <ng-container *ngTemplateOutlet="menuItemTemplate; context: { $implicit: child, level: level + 1 }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>