
<ion-card class="container-banner" *ngIf="bannerTitle && bannerTitle?.multilinerichtextbox">
   <ion-card-content>
    <ion-grid>
   <ion-row>
    <ion-col size-sm="6">
      <ion-grid>
        <ion-row>
         <ion-col>
          <ng-container *ngFor="let item of bannerTitle.multilinerichtextbox[0]?.children">
            <ng-container [ngSwitch]="item.type">
              <ion-text class="cb-header" *ngSwitchCase="'text'" [ngClass]="{'cb-header-highlight': item.bold}">
                <strong *ngIf="item.bold">{{ item.text }}</strong>
                <span *ngIf="!item.bold">{{ item.text }}</span>
              </ion-text>
            </ng-container>
          </ng-container>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngFor="let paragraph of bannerTitle?.multilinerichtextbox?.slice(1)">
                <!-- <p class="paragraph-class"> -->
                  <ng-container *ngFor="let item of paragraph.children">
                    <ng-container [ngSwitch]="item.type">
                      <ion-text *ngSwitchCase="'text'" [ngClass]="{'cb-content-highlight': item.bold}">
                        <strong *ngIf="item.bold">{{ item.text }}</strong>
                        <span *ngIf="!item.bold">{{ item.text }}</span>
                      </ion-text>
                    </ng-container>
                  </ng-container>
                <!-- </p> -->
              </div>
             </ion-col>
             </ion-row>
             <ion-row>
              <ion-col>
                <ion-button color="primary" [routerLink]="['/peaceathome']">Read More</ion-button>
               </ion-col>
               </ion-row>
          </ion-grid>
    
   
  

</ion-col>
<ion-col size-sm="6" class="img-container">
  <ion-img [src]="peaceathomeImg" alt="Happy Home Image"></ion-img>  
</ion-col> 
</ion-row>
</ion-grid>
</ion-card-content>
</ion-card>