


<ion-content [fullscreen]="true">

   
  <ion-grid class="p-b-0 sm-cont-margin">

    <!-- First Row: Single Component -->
    <ion-row class="comp-space">
      <ion-col>
        <pathome-happy-home (loaded)="onChildLoaded()"></pathome-happy-home>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row class="comp-space hc-spacing">
      <ion-col size="12" size-sm="12" size-lg="4" class="hcs-r hc-cp">
        <pathome-daily-tips (loaded)="onChildLoaded()"></pathome-daily-tips>
      </ion-col>      
      <ion-col size="12" size-sm="12" size-lg="4"  class="hcs hc-cp">
        <pathome-wellness-tips (loaded)="onChildLoaded()"></pathome-wellness-tips>
      </ion-col>
      <ion-col size="12" size-sm="12" size-lg="4"  class="hcs-l hc-cp">
        <pathome-peace-harmony (loaded)="onChildLoaded()"></pathome-peace-harmony>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
    <ion-row class="comp-space">
      <ion-col>
        <pathome-home-slider (loaded)="onChildLoaded()" [routerLink]="['/peaceathome']" [routerLinkTitle]="'Peace at Home'" [endpoint]="sliderEndpoint" [paramName]="'homeslider'"></pathome-home-slider>
      </ion-col>
    </ion-row>

    

 
    <ion-row class="comp-space">
      <ion-col class="ion-text-center">
        <ion-button color="primary" (click)="expandMenu('Peace at Home')" (click)="navigateToPeaceAtHome()" size="small">Explore the Next Chapter.....</ion-button>
        </ion-col>
        </ion-row>
 
  </ion-grid>
  <ion-grid class="footer-container">
    <ion-row>
      <ion-col class="p-0">
        <pathome-footer></pathome-footer>
        </ion-col>
        </ion-row>
  </ion-grid>

</ion-content>
