<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Peace at Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <h1>Welcome to Peace at Home</h1>
    <p>Your one-stop solution for managing home-related activities.</p>
    
    <!-- <pathome-daily-tips></pathome-daily-tips> -->
      <!-- <pathome-contact-us-form></pathome-contact-us-form> -->
       <pathome-peaceathome></pathome-peaceathome>
        <!-- <pathome-healthyrelatitonship></pathome-healthyrelatitonship> -->
      <!-- <pathome-footer></pathome-footer> -->
      <!-- <pathome-peaceathomecard></pathome-peaceathomecard> -->
       <!-- <pathome-peacehomestrengthenpowers></pathome-peacehomestrengthenpowers> -->
        <!-- <pathome-peaceathomecardwithimage></pathome-peaceathomecardwithimage> -->
     <!-- <pathome-wellness-tips></pathome-wellness-tips> -->
      <!-- <pathome-happy-home></pathome-happy-home> -->
       <!-- <pathome-peace-home-slider></pathome-peace-home-slider> -->
        <!-- <pathome-peace-harmony></pathome-peace-harmony> -->
    
  </div>
</ion-content>
