<pathome-header></pathome-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- First Row: Single Component -->
    <ion-row>
      <ion-col>
        <pathome-happy-home></pathome-happy-home>
      </ion-col>
    </ion-row>

    <!-- Second Row: Three Components in Flex Display -->
    <ion-row >
      <ion-col size-sm="4">
        <pathome-daily-tips></pathome-daily-tips>
      </ion-col>
      <ion-col size-sm="4">
        <pathome-wellness-tips></pathome-wellness-tips>
      </ion-col>
      <ion-col size-sm="4">
        <pathome-peace-harmony></pathome-peace-harmony>
      </ion-col>
    </ion-row>

    <!-- Third Row: Full-Width Slide Component -->
    <ion-row>
      <ion-col>
        <pathome-home-slider></pathome-home-slider>
      </ion-col>
    </ion-row>

    <!-- Fourth Row: Footer Component -->
    <ion-row>
      <ion-col >
        <pathome-footer></pathome-footer>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
