<ion-card class="scenario-card">
  <div class="content">
    <div class="text-section">
      <h3>Scenario 1</h3>
      <p>
        <i>
          "Jamie and Alex have been together for two years. They disagree about where to go on their next 
          summer vacation: Jamie prefers a relaxing beach destination, while Alex wants an adventurous 
          hiking trip. They discuss their preferences openly and respectfully. They listen to each other's 
          viewpoints without interrupting and work together to find a compromise that satisfies both. 
          After a series of discussions, they agree on a location that offers beach and hiking options, 
          showing mutual respect and willingness to accommodate each other's interests."
        </i>
      </p>
    </div>
    <div class="image-section">
      <ion-img src="assets/images/scenario1.png"></ion-img>
    </div>
  </div>
</ion-card>
